* {
  box-sizing: border-box;
}

body {
    margin: 0;
    color: #0e3b43;
    background-color: #a3bbad;
    font-family: "Playfair Display", serif, Arial, Helvetica, sans-serif;
    background-image: url("./images/pramod-tiwari-haHePkid1QQ-unsplash.jpg");
    background-size: cover;
}


header {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #0e3b43;
    text-align: center;
    max-width: 100%;
    width: 100%;
    margin: 0%;
    padding-top: 5px;
    padding-bottom: 5px;
}

header a {
   
}

h1 {
    color:  #a3bbad;
    text-align: center;
    margin-top: 0%;
    margin-bottom: 10px;
    font-family:"Cinzel", serif;
}

.backtotoplink-a {
    color: black;
}

.homelink-a {
    color: white;
}


.ecologicallink-a {
    color: white;
}

.ecological-h1 {
    color: #a3bbad;
    font-family:"Cinzel", serif;
}

.protect-h1 {
    color:#a3bbad;
    font-family:"Cinzel", serif;
}

.protectlink-a {
    color: white;
}

.cultural-h1 {
    color:#a3bbad;
    font-family:"Cinzel", serif;
}

.culturallink-a {
    color:white;
    border: 2px black;
}

h2 {
    font-style: normal;
    font-weight: bolder;
    text-align: center;
    padding: 25px 0 0 0;
}

p {
    font-weight: normal;
    background-color: aliceblue;
}

.banner-p { 
   padding: 0;
   margin:0;
   border: none;
   background-color: transparent;
   color: white;
   line-height: 1;
   font-size: small;
}


li {
    line-height: 1.75;
    font-weight: normal;
}

header a:link {
    margin-left: 10px;
    text-decoration: none;
}

header a:hover {
    color: #a3bbad;
    text-decoration: underline;
}

#sockeyesalmon-img {
    display: block;
    width: 98%;
    height: 300px;
    border-radius: 20px;
    margin: 10px auto;
    object-fit: bottom;
}

.salmonupstream-img {
    display: block;
    width: 98%;
    height: 250px;
    border-radius: 20px;
    margin: 10px auto;
    object-fit: cover;
}

.lists {

}

.image-wrapper {
    background-color: aliceblue;
    background-image: url("./images/brandon-enPHTN3OPRw-unsplash.jpg");
    background-position: top;
    background-size: cover;
    margin: 8px;
    min-height: 405px;
    border-radius: 20px;
}

.banner {
    height: 215px;
    background-image: url("./images/fengkai-liu-dFrIm-0o9JI-unsplash.jpg");
    background-size: cover;
    background-position: center;
    margin:0;
    position: relative;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.banner-text {
    position: absolute;
    left: 20px;
    top: 10px;
    width: 120px;
    height: 180px;
    background-color: rgba(94, 112, 115, 0.75);
    padding: 15px;
    font-family:"Cinzel", serif;
}

.content-box {
    font-weight: normal;
    padding: 15px;
    background-color: aliceblue;
    margin: 8px;
    padding: 40px;
    border-radius: 20px;
}

.homepage-h2 {
    margin: 0 auto;
    padding-top: 1px;
}

.homepage-content-p {
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    line-height: 1.5;
}

ul.arrow {
    list-style: none;
}

ul.arrow li::before {
    content: ">"
}

.container-footer {
    width: auto;
    height: auto;
    font-weight: lighter;
    padding: 15px;
    background-color: aliceblue;
    margin: 8px;
    padding: 5px;
    line-height: 1;
    border-radius: 20px;
    font-size: 10px;
}

.env-page-p {
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    line-height: 1.5;
    font-weight: 700;
}

.ul-li-main-point {
    width: auto;
    height: auto;
    font-weight: 700;
}

#bear-img {
    display: block;
    width: 98%;
    height: 250px;
    border-radius: 20px;
    margin: 10px auto;
   
}



